<div class="container-fluid" style="background-image: url(http://localhost:3001/img/bg-login.jpg);">
    <div class="row justify-content-center">
        <div class="col-5" style="min-height: 100vh; background-color: #272729;">
            <br>
            <form action="/login" method="POST" autocomplete="off">
                <% resultado.forEach((id)=> { %>
                <div class="d-none">
                    <input type="number" name="id_estudiante" value="<%= id.id_estudiante %>" class="form-control text-light" id="validationDefault01"
                        placeholder="Ingrese su usuario" required
                        style="background-color: #2d2e2f; border-color: #2d2e2f;">
                </div>
                <% }) %>
                <div class="mb-3 p-1 px-3 text-light ">
                    <label for="validationDefault01" class="form-label text-light">Usuario</label>
                    <input type="text" name="usuario" value="<%= msg%>" class="form-control text-light" id="validationDefault01"
                        placeholder="Ingrese su usuario" required
                        style="background-color: #2d2e2f; border-color: #2d2e2f;">
                </div>
                <div class="mb-3 p-1 px-3 text-light">
                    <label for="validationDefault01" class="form-label text-light">Nueva contrase単a</label>
                    <input type="password" name="clave" class="form-control text-light" id="validationDefault01"
                        placeholder="Ingrese una nueva contrase単a" required
                        style="background-color: #2d2e2f; border-color: #2d2e2f;">
                </div>
                <div class="mb-3 p-1 px-3 text-light">
                    <label for="validationDefault01" class="form-label text-light">Repetir contrase単a</label>
                    <input type="password" name="password" class="form-control text-light" id="validationDefault01"
                        placeholder="Repita la contrase単a" required
                        style="background-color: #2d2e2f; border-color: #2d2e2f;">
                </div>
                <div class="mb-3 p-1 px-3 text-light">
                    <label for="validationDefault01" class="form-label text-light">Correo</label>
                    <input type="email" name="correo" class="form-control text-light" id="validationDefault01"
                        placeholder="carnet@ricaldone.edu.sv" required
                        style="background-color: #2d2e2f; border-color: #2d2e2f;">
                </div>
                <div class="mb-3 p-1 px-3 text-light">
                    <label for="validationDefault01" class="form-label text-light">Numero de telefono</label>
                    <input type="text" name="telefono" class="form-control text-light" id="validationDefault01"
                        placeholder="0000-0000" required
                        style="background-color: #2d2e2f; border-color: #2d2e2f;">
                </div>
                <div class="d-flex justify-content-center p-3 mt-3 d-grid gap-2 w-100">
                    <button type="submit" class="btn btn-success mt-2 w-100 p-2" id="btn-log">Aceptar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        const Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer)
                toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
        })

        Toast.fire({
            icon: "<%= alertIcon%>",
            title: "<%= alertTitle %>",
            background: "#2d2e2f",
            color: "#FFFFFF"
        })
    })
</script>